body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/vetores-premium/fundo-de-nuvens-de-algodao-de-acucar-em-aquarela_23-2149230238.jpg?w=2000);
    background-size: cover ;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #8255dd;
}

.aswer {
    margin-bottom: 2rem;
    margin-top: 0rem;
}

#board {
    width: 359px;
    height: 420px;
    margin: 0 auto;
    margin-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid #9da4b5;
    width: 62px;
    height: 65px;
    margin: 2.5px;
    border-radius: 5px;

    /* Text */
    color:#5f6e76ce;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



.keyboard-row {
    justify-content: center;
    margin: 13px auto;
    display: flex;
    /* flex-wrap: wrap; */
}

.key-tile {
    height: 40px;
    margin: 1px;
    /* color: rgb(65, 62, 62); */
    background-color: #4482a04c;;
    /* border: 1px solid rgb(42, 76, 139); */
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.7px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5rem;
    /* border-radius: 5px; */
}

#backspace{
    width: 70px;
    height: 40px;
}

.enter-key-tile {
    width: 70px;
    padding: 0.5rem;
    height: 40px;
    margin: 1px;
    background-color: #4482a04c;
    /* border: 1px solid lightgrey;; */
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
    border-radius: 5px;
}

.correct {
    background-color: #76ae71;;
    color: white;
    border-color: white;
}

.present {
    background-color: #c9bd89;
    color: white;
    border-color: white;
}

.absent {
    background-color:  #94999ba5;;
    color: white;
    border-color:white;
}

.sub{
    color: #9d9cae;
}
.link p {
    font-size: 1.2rem;
    color: #7653bc;
}

.link2 a{
    color: #7653bc;;
}
.link2 a:hover{
    color: #c03fad;
}

@media(max-width:500px) {
.key-tile{
font-size: 15px;
}
.enter-key-tile{
    font-size: 15px;
}
.tile{
    width: 51px;
    height: 55px
}
.enter-key-tile {
    font-size: 14px;
    width: 2.7rem;
}
#backspace{
    width: 30px;
}
#board{
    display: flex;
    justify-content: center;
}
footer{
    margin: auto;
    top: 94%;
    left: 25%;
}

}

/* @media(max-width:900px){
    .key-tile{
    font-size: 25px;
    }
} */

/* .regra {
    font-size: 1.1rem;
    margin: 0.7rem;
} */

#confetti-canvas{
    position: absolute;
    top: 0;
}
